#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: #ecf1f8 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.spa-container {
  display:flex;
  gap: 12px;
}

.main-content-container {
  min-width: 800px;
}

.top-content-container {
  display: flex;
  justify-content: space-around;
}

.time-entry-line-container {
  height: 300px;
  overflow: auto;
  padding: 10px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 5px 5px 5px #dcdcdc;
  position: relative;
  z-index: 1;
}

.time-entry-title {
  font-weight: bold;
  font-size: 24px;
  height: 3rem;
}

button.normal {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

button.normal:focus {
  border: none;
}

.company-selection-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.bar {
  height: 16px;
  background: #eee;
  border-radius: 8px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #216ba5;
  transition: width 0.3s ease;
}


.calendar-panel-container {
  padding: 10px;
  background: #fff;
  margin-left: 10px;
  border-top-right-radius: 5px;
  box-shadow: 13px 12px 7px -8px #dcdcdc;
  position: relative;
  z-index: 0;
  height: 100%;
}

.select-date {
  font-weight: bold;
}

.active-entry {
  font-size: 16px;
  background-color: #ecf6e3;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #dcdcdc;
  border: 1px solid #76b467;
  border-top-left-radius: 6px;
  height: 300px;
}

.active-entry>.title {
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  background-color: #76b467;
  color: white;
  padding-left: 1.3rem;
  padding-right: 10px;
  height: 2.5rem;
}

.active-entry>.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.active-entry>.footer {
  text-align: center;
  padding-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.company-time {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  width: 100%;
  box-shadow: 5px 5px 5px #dcdcdc;
  padding-bottom: 10px;
}

.entries {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  width: 100%;
  box-shadow: 5px 5px 5px #dcdcdc;
  padding-bottom: 10px;
}

.progress-bars-container {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  box-shadow: 5px 5px 5px #dcdcdc;
}

.entry-list-action-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.btn-link {
  text-decoration: none !important;
  padding: 0 !important;
}
