#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.spa-container {
  display:flex;
  gap: 12px;
}

.entry-list-container {
  border: 1px solid #dcdcdc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  min-height: 300px;
  min-width: 600px;
}

.time-entry-line-container>div:nth-child(odd) {
  background: #dcdcdc;
}

.time-entry-line-container {
  height: 300px;
  overflow: auto;
}

.time-entry-line {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.time-entries-table {
  border-collapse: collapse;
}

.time-entries-table tbody tr:nth-child(odd) {
  background: #dcdcdc;
}

button.normal {
  padding: 0;
  margin: 0;
  border: none
  background-color: transparent;
}

button.normal:focus {
  border: none;
}

.company-selection-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.record-time-container {
  display: flex;
  justify-content: center;
}

.record-time-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.record-time-div {
  display: grid;
  grid-template-columns: 120px 240px 40px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.record-time-div button {
  width: 100%;
}

.record-time-div input {
  width: 100%;
}

button:disabled {
  background: #fff;
}

.total-time {
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.bar {
  height: 16px;
  background: #eee;
  border-radius: 8px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #216ba5;
  transition: width 0.3s ease;
}

.link-button {
  color: #0d6efd;
  background: none;
  border: 0;
  padding: 0;
}
.link-button:hover {
  color: #535bf2;
}

.calendar-panel-container {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
